<div style="display:flex; flex-direction:column; align-items:center;">
    <h1 style="font-size:3rem">RANK MY GIFS</h1>
    <button id="start" onclick="window.location.href='<%= gif_path(Gif.first.id) %>'" style="font-size:2rem; border-radius:5px">Start</button>
</div>