<div style="display:flex; flex-direction:column; align-items:center;">
  <h1>Gif <%= @num %></h1>

  

  <img src="/proxy?url=<%= CGI.escape(@gif.link) %>" alt="bruh idk" class="responsive-gif">

  <div>
    <script>
      function sendIt(event, form) {
        event.preventDefault();

        const rating = form.querySelector('.rating').value;

        fetch('<%= gif_path(@gif.id) %>', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ rating: rating })
        })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          showToast('Rating submitted successfully!');
          fetch('/gifs/random_next')
            .then(response => {
                if (response.ok) {
                return response.json();
                } else {
                throw new Error('No unrated GIFs available');
                }
            })
            .then(data => {
                console.log('Random GIF:', data.gif);
                window.location.href = `/gifs/${data.gif.id}`;
            })
            .catch(error => {
                console.error(error.message);
                alert(error.message);
            });
        })
        .catch(error => {
          console.error('Error:', error);
          showToast('Rating failed!');
        });
      }

      function showToast(message, isError = false) {
        const toast = document.createElement('div');
        toast.textContent = message;
        toast.style.position = 'fixed';
        toast.style.bottom = '20px';
        toast.style.left = '50%';
        toast.style.transform = 'translateX(-50%)';
        toast.style.backgroundColor = isError ? '#ff4d4d' : '#4caf50';
        toast.style.color = 'white';
        toast.style.padding = '10px 20px';
        toast.style.borderRadius = '5px';
        toast.style.boxShadow = '0 2px 5px rgba(0, 0, 0, 0.2)';
        toast.style.zIndex = '1000';
        document.body.appendChild(toast);

        setTimeout(() => {
          toast.style.opacity = '0';
          setTimeout(() => toast.remove(), 500);
        }, 3000);
      }
    </script>
    <form onsubmit="sendIt(event,this)" style="display:flex; flex-direction:column; align-items:center;">
      <input 
        type="range"
        min="0"
        max="5"
        step="0.5"
        value="0"
        class="rating"
        style="--val: 2.5"
        oninput="this.style='--val:'+this.value"
      >
      <input type="submit" value="Submit Ranking"  style="font-size:3rem; border-radius:5px">
    </form>
  </div>

</div>